<div class="overflow-x-scroll">
  <div class="pt-5 flex justify-end pb-7">
    <app-button name="영상 등록하기" routerLink="register"></app-button>
  </div>


  <div class="w-full h-full">
    <img *ngIf="isLoading === true" src="assets/icons/spinner.svg" class="myAbsolute w-full h-full">
    <div class="mt-7 space-y-7">
      <app-videos  [videos]="angularVideo" title="Angular"></app-videos>
      <app-videos  [videos]="htmlVideo" title="HTML"></app-videos>
      <app-videos  [videos]="tailwindcssVideo" title="tailwindcss"></app-videos>
      <app-videos  [videos]="javascriptVideo" title="JavaScript"></app-videos>
      <app-videos  [videos]="reactVideo" title="React"></app-videos>
    </div>
  </div>
</div>