<div class="mt-5 flex justify-end mb-7">
  <app-button name="영상 등록하기" [routerLink]="'register'"></app-button>
</div>
<app-videos seeAll="모두보기" title="필라테스"></app-videos>
<div class="mt-11">
  <app-videos seeAll="모두보기" title="식품·건강"></app-videos>
</div>
<div class="mt-11">
  <app-videos seeAll="모두보기" title="게임"></app-videos>
</div>
<div class="mt-11">
  <app-videos seeAll="모두보기" title="피트니스"></app-videos>
</div>

<ng-container *ngFor="let video of videos">
  <div class="cursor-pointer" (click)="navigateDetail(video?.id)">
    <div>제목 : {{ video?.title }}</div>
    <div>카테고리 : {{ video?.category }}</div>
  </div>
</ng-container>