// .myAbsolute {
//     position: absolute;
//     top: 10%;
//     // left: 30%;
//     // left: 20%;
//     // z-index: 999;
//     pointer-events: none;
// }

// .document.documentElement.scrollTop{
//     behavior: "smooth";
// }

// .scrollBar {
//     padding-top: 5px;
//     padding-bottom:  5px;
//     overflow-y: hidden;
//     scrollbar-width: none;
//     -ms-overflow-style: none;

//     .scrollBar::-webkit-scrollbar {
//         display: none;
//     }
// }

// .scrollBar:hover {
//     padding-top: 5px;
//     padding-bottom:  5px;
//     overflow-y: scroll;
// }
@media (min-width: 0px) and (max-width: 575px) {
    .myAbsolute {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0);
        z-index: 999;
        pointer-events: none;
    }
    .imgSize {
        width: 36vh;
        height: fit-content;
    }
    .videoEditAbsolute {
        position: absolute;
        top: 100%;
        // left: %;
        z-index: 999;
        transform: translate(-50%, 0);
    }
    .scrollBar {
        display: none;
        // padding-top: 5px;
        // padding-bottom:  5px;
        // overflow-y: hidden;
        // scrollbar-width: none;
        // -ms-overflow-style: none;
    
        // .scrollBar::-webkit-scrollbar {
        //     display: none;
        // }
    }
    
    // .scrollBar:hover {
    //     padding-top: 5px;
    //     padding-bottom:  5px;
    //     overflow-y: scroll;
    // }
}

@media (min-width: 576px) and (max-width: 767px) {
    .myAbsolute {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0);
        z-index: 999;
        pointer-events: none;
    }
    .imgSize {
        width: 36vh;
        height: fit-content;
    }
    .videoEditAbsolute {
        position: absolute;
        top: 100%;
        // left: %;
        z-index: 999;
        transform: translate(-50%, 0);
    }
    .scrollBar {
        display: none;
        // padding-top: 5px;
        // padding-bottom:  5px;
        // overflow-y: hidden;
        // scrollbar-width: none;
        // -ms-overflow-style: none;
    
        // .scrollBar::-webkit-scrollbar {
        //     display: none;
        // }
    }
    
    // .scrollBar:hover {
    //     padding-top: 5px;
    //     padding-bottom:  5px;
    //     overflow-y: scroll;
    // }
}

@media (min-width: 768px) and (max-width: 991px) {
    .myAbsolute {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0);
        z-index: 999;
        pointer-events: none;
    }
    .imgSize {
        width: 36vh;
        height: fit-content;
    }
    .videoEditAbsolute {
        position: absolute;
        top: 100%;
        // left: %;
        z-index: 999;
        transform: translate(-50%, 0);
    }
    .scrollBar {
        display: none;
        // padding-top: 5px;
        // padding-bottom:  5px;
        // overflow-y: hidden;
        // scrollbar-width: none;
        // -ms-overflow-style: none;
    
        // .scrollBar::-webkit-scrollbar {
        //     display: none;
        // }
    }
    
    // .scrollBar:hover {
    //     padding-top: 5px;
    //     padding-bottom:  5px;
    //     overflow-y: scroll;
    // }
}

@media (min-width: 992px) and (max-width: 1199px){
    .myAbsolute {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0);
        z-index: 999;
        pointer-events: none;
    }
    .imgSize {
        width: 36vh;
        height: fit-content;
    }
    .videoEditAbsolute {
        position: absolute;
        top: 100%;
        // left: %;
        z-index: 999;
        transform: translate(-50%, 0);
    }
    .scrollBar {
        display: none;
        // padding-top: 5px;
        // padding-bottom:  5px;
        // overflow-y: hidden;
        // scrollbar-width: none;
        // -ms-overflow-style: none;
    
        // .scrollBar::-webkit-scrollbar {
        //     display: none;
        // }
    }
    
    // .scrollBar:hover {
    //     padding-top: 5px;
    //     padding-bottom:  5px;
    //     overflow-y: scroll;
    // }
}

@media (min-width: 1200px) {
    .myAbsolute {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0);
        z-index: 999;
        pointer-events: none;
    }
    .imgSize {
        width: 36vh;
        height: fit-content;
    }
    .videoEditAbsolute {
        position: absolute;
        top: 100%;
        // left: %;
        z-index: 999;
        transform: translate(-50%, 0);
    }
    .scrollBar {
        padding-top: 5px;
        padding-bottom:  5px;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
    
        .scrollBar::-webkit-scrollbar {
            display: none;
        }
    }
    
    .scrollBar:hover {
        padding-top: 5px;
        padding-bottom:  5px;
        overflow-y: scroll;
    }
}

.document.documentElement.scrollTop{
    behavior: "smooth";
}