.myAbsolute {
    position: absolute;
    top: 10%;
    // left: 30%;
    // left: 20%;
    // z-index: 999;
    pointer-events: none;
}

.document.documentElement.scrollTop{
    behavior: "smooth";
}

.scrollBar {
    padding-top: 5px;
    padding-bottom:  5px;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .scrollBar::-webkit-scrollbar {
        display: none;
    }
}

.scrollBar:hover {
    padding-top: 5px;
    padding-bottom:  5px;
    overflow-y: scroll;
}