<!-- 내용 -->
<div class="w-full h-full pt-10 flex justify-center" (click)="isClicked($event, 'out')">
  <img *ngIf="isLoading === true" src="assets/icons/spinner.svg" class="myAbsolute w-full h-full">
  <!-- <app-delete-comment #modal></app-delete-comment> -->
  <div>
    <div class="w-[54rem] h-[30rem] bg-gray-200 relative">
      <iframe class="w-full h-full" [src]="video?.url | safe" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>

    </div>

    <div class="pt-5 flex justify-between text-bold text-2xl">
      <div>
        {{ video?.title }}
      </div>
      <div class="relative cursor-pointer" (click)="isClicked($event, 'in')">
        <div class="w-fit h-fit flex justify-center items-center rotate-90 rounded-full hover:bg-gray-200">
          <div class="mb-2">
            ...
          </div>
        </div>
        <div
          class="absolute text-sm rounded-md items-center flex flex-col w-fit whitespace-nowrap left-[-50%] top-[80%] bg-white space-y-[0.5px]"
          *ngIf="showCategory">
          <div class="w-full px-3 py-2 cursor-pointer rounded-md border border-gray-400 text-gray-500 hover:opacity-70"
            (click)="updateVideo()">
            동영상 수정
          </div>
          <div class="w-full px-3 py-2 cursor-pointer rounded-md border border-red-400 text-red-500 hover:opacity-70"
            (click)="deleteVideo()">
            동영상 삭제
          </div>
        </div>
      </div>
    </div>

    <div class="pt-2 pb-5 text-semibold text-xl text-gray-500 mt-[-0.5rem]">{{ video?.category }}</div>
    <!-- 댓글 입력-->
    <div class="pt-5 border-t-2 border-gray-200">
      <form [formGroup]="createForm">
        <div class="flex gap-5">
          <img src="assets/icons/profile.png" />
          <div *ngIf="isLoggedIn$ === true" class="w-full flex justify-center items-center gap-2">
            <div
              class="w-full flex justify-between border bg-white border-gray-200 rounded-md outline-none focus-within:ring-gray-400 transition-colors focus-within:ring-1">
              <input id="disabledtest" formControlName="content" placeholder="댓글" type="text"
                class="w-full outline-none px-3 py-2.5 rounded-md cursor-pointer" />
            </div>
            <app-button [name]="buttonName" (click)="submit()" class="whitespace-nowrap"></app-button>
          </div>
          <div class="w-1/2" *ngIf="isLoggedIn$ === false">
            <div class="w-full flex justify-center items-center gap-2">
              <div
                class="w-full flex justify-between border bg-white border-gray-200 rounded-md outline-none focus-within:ring-gray-400 transition-colors focus-within:ring-1">
                <input formControlName="name" placeholder="아이디" type="text"
                  class="w-full outline-none px-3 py-2.5 rounded-md cursor-pointer" />
              </div>
            </div>
          </div>
          <div class="w-1/2" *ngIf="isLoggedIn$ === false">
            <div class="w-full flex justify-center items-center gap-2">
              <div
                class="w-full flex justify-between border bg-white border-gray-200 rounded-md outline-none focus-within:ring-gray-400 transition-colors focus-within:ring-1">
                <input formControlName="password" placeholder="비밀번호" type="password"
                  class="w-full outline-none px-3 py-2.5 rounded-md cursor-pointer" />
              </div>
            </div>
          </div>
        </div>
        <div class="pt-3" *ngIf="isLoggedIn$ === false">
          <div class="w-full flex justify-center items-center gap-2">
            <div
              class="w-full flex justify-between border bg-white border-gray-200 rounded-md outline-none focus-within:ring-gray-400 transition-colors focus-within:ring-1">
              <input id="disabledtest" formControlName="content" placeholder="댓글" type="text"
                class="w-full outline-none px-3 py-2.5 rounded-md cursor-pointer" />
            </div>
          </div>
        </div>
        <div class="pt-4 flex justify-end" *ngIf="isLoggedIn$ === false">
          <app-button [name]="buttonName" (click)="submit()"></app-button>
        </div>
      </form>
    </div>
    <!-- 댓글 입력-->

    <!-- 댓글 보기 -->
    <div class="w-full pt-5">
      <div class="flex gap-1 text-lg font-semibold text-gray-900">
        댓글
        <div class="text-lg font-semibold text-blue-500">
          {{ comments?.length }}
        </div>
      </div>
      <div>
        <ng-container *ngFor="let comment of comments; index as i">
          <app-comment [id]="comment?.user.name" [comment]="comment?.content" [createdAt]="comment?.createdAt | timeAgo"
            class="group whitespace-nowrap">
            <div class="w-full hidden justify-end items-center gap-3 group-hover:flex">
              <div
                class="border box-border shadow-sm px-3 py-2 rounded-md border-gray-300 text-gray-400 hover:opacity-70 cursor-pointer"
                (click)="modifyComment(i)">수정</div>
              <div
                class="border box-border shadow-sm px-3 py-2 rounded-md border-red-300 text-red-400 hover:opacity-70 cursor-pointer"
                (click)="deleteComment(i)">삭제</div>
            </div>
            <!-- asdasdsafsafsa -->
          </app-comment>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="w-[25rem] h-[30rem] scrollBar">
    <div class="w-full h-full">
      <ng-container *ngFor="let video of categoryWithVideos">
        <div class="flex space-y-2 gap-2 hover:bg-gray-100 cursor-pointer" (click)="navigateDetail(video)">
          <img [src]="video?.url" class="w-[10rem]">
          <div class="w-full">
            <div>
              {{ video?.title }}
            </div>
            <div>
              {{ video?.category }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>