// .myAbsolute {
//     position: absolute;
//     top: 20%;
//     // left: 20%;
//     // z-index: 999;
//     pointer-events: none;
// }
.myAbsolute {
    position: fixed;
    top: 45%;
    left: 45%;
    // left: 20%;
    z-index: 999;
    pointer-events: none;
}