<!-- <button routerLink="/" class="bg-blue-400">Home</button>
<button *ngIf="!(authenticated$ | async)" routerLink="/auth/login">Login</button>
<button *ngIf="authenticated$" routerLink="/dashboard">Dashboard</button>

<hr />

<button *ngIf="!(authenticated$ | async)" (click)="logIn()"
    class="border box-border shadow-md rounded-md text-green-400 border-green-300 bg-green-50 px-3 py-2">LogIn</button>
<button *ngIf="authenticated$ | async" (click)="logOut()"
    class="border box-border shadow-md rounded-md text-red-400 border-red-300 bg-red-50 px-3 py-2">LogOut</button>
<router-outlet></router-outlet> -->
<div class="select-none">
    <router-outlet></router-outlet>
</div>