<div class="px-10">

    <!-- 페이지 제목 & 등록 버튼 -->
    <div class="pt-4 flex justify-between">
        <div class="font-bold text-gray-800 text-2xl">영상 등록</div>
        <div class="flex justify-end">
            <app-button name="등록" (click)="submit()"></app-button>
        </div>
    </div>
    <!-- 페이지 제목 & 등록 버튼 -->
    
    <!-- 페이지 내용 -->
    <div class="pt-7 flex justify-between">
        
        <div>
            <div class="font-semibold text-gray-800 text-lg">URL
                <!-- <app-input></app-input> -->
            </div>
        </div>
        
    </div>
    <!-- 페이지 내용 -->
    
</div>