.container {
    display: none;
    position: fixed;
    z-index: 1;
    // padding-bottom:  100px;
    // width: 500%; 
    // height: 500%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .content {
    display: block;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }