.myAbsolute {
    position: absolute;
    left: 98%;
    // top: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}
.myAbsoluteStatus{
    position: absolute;
    left: 98.5%;
    top: -30%;
    z-index: 2;
}

.scrollBar {
    // padding-top : 30px;
    // padding-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    .scrollBar::-webkit-scrollbar {
        display: none;
    }
}

// .scrollBar:hover {
//     // padding-top : 30px;
//     // margin-bottom: -17px;
//     padding-bottom : 30px;
//     overflow-x: scroll;
// }