<div class="w-full h-full p-6">
  <!-- 탑바 -->
  <!-- 제목 -->
  <div class="flex gap-2 justify-center items-center cursor-pointer" (click)="currentCategory='전체'" routerLink="/">
    <img src="assets/icons/youtube.svg" alt="" />
    <div class="text-black text-xl font-extrabold">
      {{ maintitle | uppercase }}

    </div>
  </div>
  <!-- 제목 -->
  <div class="bg-[#E7E7E7] border border-1 mt-6"></div>
  <!-- 탑바 -->
  <!-- 카테고리 -->
  <div class="flex justify-between items-center">
    <div class="flex gap-3 mt-3 scrollBar items-center whitespace-nowrap">
      <!-- <div class="scrollBar flex whitespace-nowrap"> -->
        <app-category *ngIf="isLoading === true" [isSelected]="currentCategory === '전체'" (click)="currentCategory = '전체'" name="전체" value="/"  class="rounded-full"></app-category>
        <app-category *ngIf="isLoading === true" [isSelected]="currentCategory === 'HTML'" (click)="currentCategory = 'HTML'" name="HTML" value="HTML" class="rounded-full">
        </app-category>
        <app-category *ngIf="isLoading === true" [isSelected]="currentCategory === 'tailwindcss'" (click)="currentCategory = 'tailwindcss'" name="tailwindcss" value="tailwindcss" class="rounded-full"></app-category>
        <app-category *ngIf="isLoading === true" [isSelected]="currentCategory === 'JavaScript'" (click)="currentCategory = 'JavaScript'" name="JavaScript" value="JavaScript" class="rounded-full">
        </app-category>
        <app-category *ngIf="isLoading === true" [isSelected]="currentCategory === 'React'" (click)="currentCategory = 'React'" name="React" value="React" class="rounded-full">
        </app-category>
        <app-category *ngIf="isLoading === true" [isSelected]="currentCategory === 'Angular'" (click)="currentCategory = 'Angular'" name="Angular" value="Angular" class="rounded-full">
        </app-category>
      <!-- </div> -->
    </div>
    <div class="text-gray-900 justify-center items-center text-sm font-bold px-1 mt-3">
      >
    </div>
  </div>
  <!-- 카테고리 -->
  <div class="bg-[#E7E7E7] border border-0.5 mt-3"></div>
  <router-outlet> </router-outlet>
</div>