<div class="p-20">
    <div class="flex gap-2 justify-center items-center px-3 py-2">
        <form [formGroup]="createComment">
            <div class="space-y-2">
                <div class="flex gap-2 justify-center items-center">
                    <img src="assets/icons/userIcon.svg">
                    <!-- 아이디 -->
                    <input (click)="isClicked($event)" formControlName="name"
                        class="border box-border shadow rounded-md px-3 py-2 cursor-pointer text-green-500" type="text">
                    <!-- 비밀번호 -->
                    <input (click)="isClicked($event)" formControlName="password"
                        class="border box-border shadow rounded-md px-3 py-2 cursor-pointer text-red-500"
                        type="password">
                </div>
                <!-- 댓글달기 -->
                <input (click)="isClicked($event)" formControlName="context"
                    class="w-full px-3 py-2 border box-border shadow rounded-md cursor-pointer" type="text" placeholder="댓글을 남겨보세요.">
                <div class="flex justify-end">
                    <div (click)="submit()"
                        class="px-3 py-2 border box-border shadow rounded-md cursor-pointer border-blue-300 text-blue-400 bg-blue-50">
                        등록
                    </div>
                </div>
                <!-- comment Frame -->
                <ng-container *ngFor="let comment of testContexts; index as i; first as first;">
                    <div class="flex gap-1">
                        <div *ngIf="first">댓글</div>
                        <div *ngIf="first" class="text-blue-300">{{ testContexts.length }}</div>
                    </div>
                    <div class="flex gap-2 justify-start items-center space-y-1">
                        <img src="assets/icons/userIcon.svg">
                        <div>
                            <div class="flex items-center gap-3">
                                <div class="text-[18px] font-semibold">{{ comment.name }}</div>
                                <div class="flex gap-[0.3125rem]">
                                    <img src="assets/icons/clock.svg">
                                    <div class="text-gray-300">
                                        {{ comment.date | date: 'hh:mm' }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                {{ comment.context }}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </form>
    </div>
    <!-- comment Frame -->
    <div class="flex justify-center items-center">

    </div>
    <div class="flex gap-4 justify-center">
        <div class="border box-border shadow rounded-lg px-3 py-2 cursor-pointer text-gray-500 border-gray-400"
            routerLink="/">
            유저 등록</div>
        <div class="border box-border shadow rounded-lg px-3 py-2 cursor-pointer text-gray-500 border-gray-400"
            routerLink="/userlist">
            유저 목록</div>
    </div>
</div>