<div>
  <div class="pt-5 flex justify-end pb-7">
    <app-button name="영상 등록하기" routerLink="register"></app-button>
  </div>


  <div class="w-full h-full">
    <img *ngIf="isLoading === true" src="assets/icons/spinner.svg" class="myAbsolute w-full h-full">
    <div class="mt-7 space-y-7">
      <ng-container *ngIf="videos">
      <app-videos [videos]="videos.html" title="HTML"></app-videos>
      <app-videos [videos]="videos.tailwindcss" title="tailwindcss"></app-videos>
      <app-videos [videos]="videos.javascript" title="JavaScript"></app-videos>
      <app-videos [videos]="videos.react" title="React"></app-videos>
      <app-videos [videos]="videos.angular" title="Angular"></app-videos>
    </ng-container>
    </div>
  </div>


</div>