<!-- 카테고리 -->
<div class="flex justify-between items-center">
  <div class="flex gap-3 mt-3 items-center">
    <app-category routerLink="category">전체</app-category>
    <app-category routerLink="category">필라테스</app-category>
    <app-category routerLink="category">식품·건강</app-category>
    <app-category routerLink="category">게임</app-category>
    <app-category routerLink="category">피트니스</app-category>
    <app-category routerLink="category">축구</app-category>
    <app-category routerLink="category">카테고리</app-category>
  </div>
  <div class="text-gray-900 justify-center items-center text-sm font-bold">
    >
  </div>
</div>
<!-- 카테고리 -->
<div class="bg-[#E7E7E7] border border-0.5 mt-3"></div>
<div class="mt-5 flex justify-end mb-7">
  <app-button>영상 등록하기</app-button>
</div>
<app-videos title="필라테스"></app-videos>
<app-videos></app-videos>
