<div class="pt-20 space-y-4">
    <div class="flex justify-center items-center w-[100%]">
        <form [formGroup]="createForm">
            <div class="flex flex-col gap-2 w-fit px-2">
                <div class="flex justify-between gap-4 items-center whitespace-nowrap">
                    <div>
                        아이디
                    </div>
                    <input formControlName="name" class="border box-border shadow rounded-md px-3 py-2" type="text">
                </div>
                <div class="flex justify-between gap-4 items-center whitespace-nowrap">
                    <div>
                        비밀번호
                    </div>
                    <input formControlName="password" class="border box-border shadow rounded-md px-3 py-2"
                        type="password" (keyup)="keyupEnter($event)">
                </div>
            </div>
        </form>
    </div>
    <div class="flex justify-center items-center">
        <div class="col">
            <ul class="list-inline mb-2 flex gap-2">
                <li class="list-inline-item" *ngIf="isLoggedIn$ === false">
                    <div class="cursor-pointer border box-border shadow rounded-md border-yellow-400 text-yellow-500 px-3 py-2 whitespace-nowrap"
                        (click)="login()">
                        로그인
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="cursor-pointer border box-border shadow rounded-md border-blue-400 text-blue-500 px-3 py-2 whitespace-nowrap"
                        (click)="logout()">
                        로그아웃
                    </div>
                </li>
                <li class="list-inline-item" *ngIf="isLoggedIn$ === false">
                    <div class="cursor-pointer border box-border shadow rounded-md border-yellow-400 text-yellow-500 px-3 py-2 whitespace-nowrap"
                        (click)="registerUser()">
                        회원가입
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex justify-center items-center">
        회원가입은 아이디와 비밀번호를 입력하고 회원가입 버튼을 누르시면 됩니다.
    </div>
</div>